<section class="common_wrap-faq p-under">
  <div class="inner">
    <div class="head-ttl">
      <p class="sub-ttl">FAQ</p>
      <h2 class="fadeIn">よくあるご質問</h2>
    </div><!-- /.head-ttl -->
    <div class="flex">
      <div class="box fadeIn">
        <a href="/pages/faq#order">
          <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-order.svg" alt="">
          <p>注文・支払いについて</p>
        </a>
      </div><!-- /.box -->
      <div class="box fadeIn">
        <a href="/pages/faq#shipping">
          <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-shipping.svg" alt="">
          <p>配送・送料について</p>
        </a>
      </div><!-- /.box -->
      <div class="box fadeIn">
        <a href="/pages/faq#return">
          <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-return.svg" alt="">
          <p>返品・交換について</p>
        </a>
      </div><!-- /.box -->
    </div><!-- /.flex -->
  </div><!-- /.inner -->
</section><!-- /.common_wrap-faq -->