<footer class="footer layer">
  <div class="inner">
    <div class="flex">
      <div class="column col01">
        <div class="logo img-box"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/logo.png" alt=""></div>
        <div class="u-pc">
          <p>〒901-2202 沖縄県宜野湾市普天間2丁目13番5号</p>
          <p>TEL：098-892-5634</p>
          <p>
            営業時間 8:00～19:00<br>
            日曜日 9:00～19:00
          </p>
        </div>
      </div><!-- /.column -->
      <div class="nav-list">
        <div class="column col02">
          <nav>
            <ul>
              <li><a href="{{ routes.root_url }}">TOP</a></li>
              <li><a href="/pages/about/">HOUSE de BBQについて</a></li>
              <li><a href="/collections/all/">商品一覧</a></li>
              <li><a href="/pages/faq/">よくあるご質問</a></li>
              <li><a href="/pages/contact/">お問い合わせ</a></li>
            </ul>
          </nav>
        </div><!-- /.column -->
        <div class="column col03">
          <nav>
            <ul>
              <div class="sp-footer_log-cart">
                <li><a href="/account/"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-login.svg" alt="">ログイン</a></li>
                <li><a href="/cart/"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-cart.svg" alt="">カート</a></li>
              </div>
              <li><a href="/pages/company/">会社概要</a></li>
              <li><a href="/pages/term/">特定商取引法に基づく表記</a></li>
              <li><a href="/pages/policy/">プライバシーポリシー</a></li>
            </ul>
          </nav>
          <div class="u-sp">
            <p>〒901-2202 沖縄県宜野湾市普天間2丁目13番5号</p>
            <p>TEL：098-892-5634</p>
            <p>
              営業時間 8:00～19:00<br>
              日曜日 9:00～19:00
            </p>
          </div>
        </div><!-- /.column -->
      </div>
    </div><!-- /.flex -->
    <p><small>© central meat. All rights reserved.</small></p>
  </div>
</footer>