<header class="pc-header under-header">
  <div class="header-inner">
    <div class="logo img-box">
      <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/logo.png" alt=""></a>
    </div>
    <div class="nav-wrap">
      <nav class="header-navi01">
        <ul>
          <li><a href="{{ routes.root_url }}">トップページ</a></li>
          <li><a href="/pages/about/">HOUSE de BBQについて</a></li>
          <li><a href="/collections/all/">商品一覧</a></li>
          <li><a href="/pages/faq/">よくあるご質問</a></li>
          <li><a href="/pages/contact-form/">お問い合わせ</a></li>
        </ul>
      </nav>
      <nav class="header-navi02">
        <ul>
          <li>
            <a href="/search/">
              <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.6686 14.6666H15.6153L15.2419 14.3066C16.0752 13.3386 16.6842 12.1983 17.0253 10.9675C17.3665 9.73657 17.4313 8.4455 17.2153 7.18663C16.5886 3.47997 13.4953 0.519966 9.76192 0.0666331C8.44941 -0.0994126 7.1163 0.0369952 5.86462 0.465418C4.61294 0.893841 3.47585 1.60292 2.54036 2.53841C1.60488 3.47389 0.895795 4.61098 0.467372 5.86267C0.0389484 7.11435 -0.0974595 8.44745 0.0685862 9.75997C0.52192 13.4933 3.48192 16.5866 7.18859 17.2133C8.44746 17.4294 9.73853 17.3645 10.9694 17.0234C12.2003 16.6822 13.3405 16.0732 14.3086 15.24L14.6686 15.6133V16.6666L20.3353 22.3333C20.8819 22.88 21.7753 22.88 22.3219 22.3333C22.8686 21.7866 22.8686 20.8933 22.3219 20.3466L16.6686 14.6666ZM8.66859 14.6666C5.34859 14.6666 2.66859 11.9866 2.66859 8.66663C2.66859 5.34663 5.34859 2.66663 8.66859 2.66663C11.9886 2.66663 14.6686 5.34663 14.6686 8.66663C14.6686 11.9866 11.9886 14.6666 8.66859 14.6666Z" fill="white"/>
              </svg>
              探す
            </a>
          </li>
          <li>
            <a href="/account/">
              <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.502 11C14.6788 11 17.252 8.53875 17.252 5.5C17.252 2.46125 14.6788 0 11.502 0C8.32508 0 5.75195 2.46125 5.75195 5.5C5.75195 8.53875 8.32508 11 11.502 11ZM11.502 13.75C7.66383 13.75 0.00195312 15.5925 0.00195312 19.25V20.625C0.00195312 21.3813 0.648828 22 1.43945 22H21.5645C22.3551 22 23.002 21.3813 23.002 20.625V19.25C23.002 15.5925 15.3401 13.75 11.502 13.75Z" fill="white"/>
              </svg>
              ログイン
            </a>
          </li>
          <li>
            <a href="/cart/">
              <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.002 18C18.5987 18 19.171 18.2371 19.5929 18.659C20.0149 19.081 20.252 19.6533 20.252 20.25C20.252 20.8467 20.0149 21.419 19.5929 21.841C19.171 22.2629 18.5987 22.5 18.002 22.5C17.4052 22.5 16.8329 22.2629 16.411 21.841C15.989 21.419 15.752 20.8467 15.752 20.25C15.752 19.0012 16.7532 18 18.002 18ZM0.00195312 0H3.6807L4.7382 2.25H21.377C21.6753 2.25 21.9615 2.36853 22.1724 2.57951C22.3834 2.79048 22.502 3.07663 22.502 3.375C22.502 3.56625 22.4457 3.7575 22.367 3.9375L18.3395 11.2163C17.957 11.9025 17.2145 12.375 16.3707 12.375H7.98945L6.97695 14.2088L6.9432 14.3438C6.9432 14.4183 6.97283 14.4899 7.02558 14.5426C7.07832 14.5954 7.14986 14.625 7.22445 14.625H20.252V16.875H6.75195C6.15522 16.875 5.58292 16.6379 5.16096 16.216C4.73901 15.794 4.50195 15.2217 4.50195 14.625C4.50195 14.2313 4.6032 13.86 4.77195 13.545L6.30195 10.7888L2.25195 2.25H0.00195312V0ZM6.75195 18C7.34869 18 7.92099 18.2371 8.34294 18.659C8.7649 19.081 9.00195 19.6533 9.00195 20.25C9.00195 20.8467 8.7649 21.419 8.34294 21.841C7.92099 22.2629 7.34869 22.5 6.75195 22.5C6.15522 22.5 5.58292 22.2629 5.16096 21.841C4.73901 21.419 4.50195 20.8467 4.50195 20.25C4.50195 19.0012 5.5032 18 6.75195 18ZM16.877 10.125L20.0045 4.5H5.78445L8.43945 10.125H16.877Z" fill="white"/>
              </svg>
              カート
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<header class="sp-header u-sp">
  <div class="header-inner">
    <div class="logo img-box"><a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/logo.png" alt=""></a></div>
    <div class="sp-nav">
      <nav>
        <ul>
          <li><a href="/account/"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-login.svg" alt="">ログイン</a></li>
          <li><a href="/cart/"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-cart.svg" alt="">カート</a></li>
        </ul>
      </nav>
      <div class="hamberger-wrap">
        <div class="hambager-content">
          <button type="button" class="hambager">
            <span class="c-line"></span>
            <span class="c-line"></span>
            <span class="c-line"></span>
          </button>
        </div><!-- /.hambager-content -->
        <p class="ham-txt">メニュー</p>
      </div>
    </div>
  </div><!-- /.header-inner -->
</header>

<div class="mega-menu">
  <div class="humsearch-wrap">
    <div class="mega-menu_inner">
      <div class="search">
        <form method="get" action="/search">
          <div class="header_search-inner">
            <input type="text" name="q" placeholder="キーワードを入力する">
            <input type="hidden" name="type" value="product">
            <button type="submit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-search.svg" alt=""></button>
          </div>
        </form>
      </div>
    </div>
  </div><!-- /.humsearch-wrap -->
  <div class="humnav-wrap">
    <div class="mega-menu_inner">
      <nav class="nav01">
        <ul>
          <li><a href="{{ routes.root_url }}">TOP</a></li>
          <li><a href="/pages/about/">HOUSE de BBQについて</a></li>
          <li>
            <a class="parent" href="#">商品一覧</a>
            <div class="little-nav">
              <div class="cate-box budget">
                <p class="ttl"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-money.svg" alt="">予算で選ぶ</p>
                <ul>
                  <li>
                    <a href="/collections/price_0-3999/">
                      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate01-1.png" alt=""></div>
                      <p>~3,999円</p>
                    </a>
                  </li>
                  <li>
                    <a href="/collections/price_4000-9999/">
                      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate01-2.png" alt=""></div>
                      <p>4,000円~9,999円</p>
                    </a>
                  </li>
                  <li>
                    <a href="/collections/price_10000/">
                      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate01-3.png" alt=""></div>
                      <p>10,000円~</p>
                    </a>
                  </li>
                </ul>
              </div><!-- /.cate-box -->
              <div class="cate-box items">
                <p class="ttl"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-meat.svg" alt="">商品で選ぶ</p>
                <ul>
                  <li>
                    <a href="/collections/item-set/">
                      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate02-1_sp.png" alt=""></div>
                      <p>セット</p>
                    </a>
                  </li>
                  <li>
                    <a href="/collections/item-single/">
                      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate02-2.png" alt=""></div>
                      <p>単品</p>
                    </a>
                  </li>
                  <li>
                    <a href="/collections/item-marinate/">
                      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate02-3.png" alt=""></div>
                      <p>タレ漬け</p>
                    </a>
                  </li>
                  <li>
                    <a href="/collections/item-saucefree/">
                      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/top-cate02-4.png" alt=""></div>
                      <p>タレなし</p>
                    </a>
                  </li>
                </ul>
              </div><!-- /.cate-box -->
            </div>
          </li>
          <li><a href="/pages/faq/">よくある質問</a></li>
          <li><a href="/pages/company/">会社概要</a></li>
          <li><a href="/pages/contact-form/">お問い合わせ</a></li>
        </ul>
      </nav>
      <nav class="nav02">
        <ul>
          <li><a href="/account/"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-login.svg" alt="">ログイン</a></li>
          <li><a href="/cart/"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/icon-cart.svg" alt="">カート</a></li>
        </ul>
      </nav>
      <div class="logo img-box"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/logo.png" alt=""></div>
    </div>
  </div><!-- /.humnav-wrap -->
</div><!-- /.mega-menu -->