<!-- メインビジュアル -->
<div class="under-mv p-about-mv img-box obj-fit">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-under_mv01.jpg" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-under_mv01.jpg" alt="">
  </picture>
  <div class="head-ttl">
    <p class="sub-ttl anime-ttl01">ABOUT<br>HOUSE de BBQ</p>
    <h2>HOUSE de BBQについて</h2>
  </div>
</div><!-- /.under-mv -->

<section class="p-about_wrap01">
  <div class="inner">
    <div class="img-block">
      <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img01.jpg" alt=""></div>
      <div class="img-box">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img03.jpg" media="(max-width: 769px)">
          <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img02.jpg" alt="">
        </picture>
      </div>
      <div class="img-box">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img02.jpg" media="(max-width: 769px)">
          <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img03.jpg" alt="">
        </picture>
      </div>
      <div class="txt01">GOOD VIBES, GOOD MEAT</div>
      <div class="txt02">ENJOY, HOUSE de BBQ!!</div>
    </div><!-- /. img-block-->
    <p>
      美味しい、楽しい、BBQを最高のものに。<br>
      BBQ文化が濃い沖縄の、肉のプロが厳選したBBQにぴったりのお肉。<br>
      スーパーでは手に入りにくいお肉も揃えておりますので、<br class="u-pc">
      お家でのBBQが本格的になります！<br>
      <br>
      仲間と、家族と、大切な人たちと。<br>
      HOUSE de BBQのお肉で、アツい思い出を！
    </p>
  </div>
</section><!-- /.p-about_wrap01 -->

<section class="p-about_wrap02">

  <div class="head-ttl">
    <p class="sub-ttl anime-ttl01">OUR PRIDE</p>
    <h2 class="fadeIn">私たちがBBQにこだわる理由</h2>
  </div>

  <div class="block professional">
    <div class="inner flex">
      <div class="left fade_triger">
        <div class="img-box anime-fade"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img05.jpg" alt=""></div>
        <div class="img-box anime-fade"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img04.jpg" alt=""></div>
        <div class="txt">PROFESSIONAL</div>
      </div><!-- /.left -->
      <div class="right">
        <h3>肉のプロとしてのこだわり</h3>
        <p>
          地元沖縄で長年町の肉屋として親しまれている私たちは、肉のプロとして・・・<br>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div><!-- /.right -->
    </div>
  </div><!-- /.block -->
  
  <div class="block culture">
    <div class="inner flex reverce">
      <div class="left fade_triger">
        <div class="img-box anime-fade"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img07.jpg" alt=""></div>
        <div class="img-box anime-fade"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img06.jpg" alt=""></div>
        <div class="txt">CULTURE</div>
        <div class="txt okinawa">OKINAWAN</div>
      </div><!-- /.left -->
      <div class="right">
        <h3>アメリカンな文化が色濃い沖縄</h3>
        <p>
          米軍基地がある宜野湾市普天間で肉屋をしてきた私たち。アメリカンな文化が色濃いこの地域ではBBQも大人気。<br>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div><!-- /.right -->
    </div>
  </div><!-- /.block -->

  <div class="block enjoy">
    <div class="inner flex">
      <div class="left fade_triger">
        <div class="img-box anime-fade">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img08.jpg" media="(max-width: 769px)">
            <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img09.jpg" alt="">
          </picture>
        </div>
        <div class="img-box anime-fade">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img09.jpg" media="(max-width: 769px)">
            <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-about_img08.jpg" alt="">
          </picture>
        </div>
        <div class="txt">ENJOY BBQ</div>
      </div><!-- /.left -->
      <div class="right">
        <h3>いつどんな時でもBBQを楽しんで欲しい</h3>
        <p>
          BBQはキャンプやビーチじゃないと難しい？<br>
          そんなことはありません。雨の日でも、出掛けられなくても、お家でBBQを楽しんでもらいたい。そんな想いで私たちはBBQに特化したオンラインショップを始めました。
        </p>
      </div><!-- /.right -->
    </div>
  </div><!-- /.block -->

</section><!-- /.p-about_wrap02 -->

{% section 'about-recommend' %}

<section class="p-about_wrap04">
  <div class="inner flex">
    <div class="head-ttl">
      <p class="sub-ttl anime-ttl01">LINE UP</p>
      <h2 class="fadeIn">商品一覧</h2>
    </div>
    <div class="btn-wrap fadeIn"><a href="#" class="btn01">VIEW ALL</a></div>
  </div>
</section><!-- /.p-about_wrap04 -->