<!-- メインビジュアル -->
<div class="under-mv img-box obj-fit">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-under_mv01.jpg" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-under_mv01.jpg" alt="">
  </picture>
  <div class="head-ttl">
    <p class="sub-ttl anime-ttl01">COMPANY</p>
    <h2>会社概要</h2>
  </div>
  <div class="img-box mv-ashirai">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/footer_bg-ashirai_sp.svg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-under_mv-ashirai.svg" alt="">
    </picture>
  </div>
</div><!-- /.under-mv -->

<div class="p_company p-under_bg-color">
  <div class="p-under_ashirai01 img-box"><img src="https://cdn.shopify.com/s/files/1/0886/8125/1090/files/p-under-ashirai01.png" alt=""></div>
  <div class="inner">

    <table>
      <tr>
        <th>会社名</th>
        <td>株式会社セントラルミート</td>
      </tr>
      <tr>
        <th>代表者名</th>
        <td>山城　守松</td>
      </tr>
      <tr>
        <th>設立</th>
        <td>平成16年8月</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>1,000万円</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>食肉輸入卸販売・小売業</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒901-2202<br class="u-sp">宜野湾市普天間2丁目13番5号</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>
          098-892-5634
        </td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>098-892-3122</td>
      </tr>
      <tr>
        <th>営業時間</th>
        <td>月、火、木、金 9：00～18：00</td>
      </tr>
      <tr>
        <th>定休日</th>
        <td>土日、祝祭日、12月29日～1月4日</td>
      </tr>
    </table>

  </div>
</div><!-- /.p_company -->

{% render 'under-common-faq' %}